.userSelectControl {
  margin: 10px 0;
  width: 100%;
}

.userSelectFieldset {
  display: flex !important;
}

.userSelectAdd {
  align-self: center;
}

.userSelectRoot {
  margin: 10px 0 0 0;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: center;
}

.userSelectChip {
  margin: 0 10px;
}

.userSelectGrid {
  width: 100%;
  align-items: center;
}
